<div class="conatainer mt-5 text-center text-yellow" style="min-height: 600px">
  <div class="row p-5">
    <!-- image -->
    <div class="col-md-6">
      <img
        src="../../assets/error-404.jpg"
        alt="luggage stuck in a wall"
        class="img-fluid rounded"
      />
    </div>

    <!-- text -->
    <div class="col-md-6 my-5">
      <h1 class="display-1">404</h1>
      <h2 class="display-4">Destination Not Found!</h2>
      <p class="lead">
        It seems you have searched for a destination that does not exist! Click
        below to be guided home.
      </p>
      <!-- button to take user home -->
      <a routerLink="/" class="btn btn-outline-secondary">Home</a>
    </div>
  </div>
</div>
