<!--
  title; nav.component.html
  author: ngi bujri
  date: august 16 2023
  description: navigation bar
-->

<nav class="ps-3 navbar navbar-expand-sm fixed-top gfd-primary">
  <a routerLink="/" class="navbar-brand text-yellow">Nodebucket</a>

  <!-- hamburger menu icon -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar links -->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto p-2">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link text-yellow">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="#" class="nav-link text-yellow">About Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" class="nav-link text-yellow">Contact Us</a>
      </li>
      <li class="nav-item">
        <a href="/api-docs" class="nav-link text-yellow" target="_blank"
          >Docs</a
        >
      </li>
      <li *ngIf="!isSignedIn">
        <a routerLink="/security/signin" class="nav-link text-yellow"
          >Sign In</a
        >
      </li>

      <!-- user account -->
      <li class="nav-item dropdown" *ngIf="isSignedIn">
        <a
          href="#"
          class="nav-link pe-3"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-icons">person</span>
        </a>

        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <li class="drop-item">Signed in as {{ appUser.fullName }}</li>
          <hr />
          <li>
            <a routerLink="/task-management/my-tasks" class="dropdown-item"
              >My Tasks</a
            >
          </li>
          <li>
            <a (click)="signout()" class="dropdown-item link">Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
