<!--
  title: about.component.html
  author: ngi bujri
  date: august 30 2023
  description: about page
 -->

<!-- header -->
<header class="container-fluid text-center about">
  <div class="container p-5">
    <h1 class="display-1 text-yellow">About Us</h1>
    <p class="lead text-yellow">
      Our mission is to provide Gryffindor students the best possible way to
      succeed at Hogwarts. Our application is user friendly, making it easy to
      use and understand. We are dedicated to making the best product possible
      so that students are stress free.
    </p>
  </div>
</header>
<!-- end header -->

<div class="container my-5">
  <!-- section describing what Nodebucket is -->
  <div class="row">
    <div class="col-md-7">
      <h2 class="display-3 text-yellow">Task Management</h2>
      <p class="lead text-yellow">
        Nodebucket is a task management application that allows students to
        manage their student life at Hogwarts. They can easily create, view, and
        edit tasks to their liking to stay organized. With a flick of the wrist,
        students can drag and drop tasks to update their status when completed.
      </p>
      <p class="lead text-yellow">
        Some of the feedback we have received from students include:
      </p>
      <ul class="text-yellow">
        <li>Great product! I use it everyday. No more sticky notes.</li>
        <li>
          Very useful. I don't know how I lived without it. Everyone at Hogwarts
          needs to use this.
        </li>
        <li>This is great, it helps me organize my day-to-day tasks.</li>
        <li>
          Amazing app! With Nodebucket, I surely won't drop out of Hogwarts!
        </li>
      </ul>
    </div>

    <!-- image column -->
    <div class="col-md-5">
      <img
        src="../../assets/about-task-management.jpg"
        alt="feather pen in ink pot"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <!-- section end -->

  <hr class="my-5" style="color: var(--yellow)" />

  <!-- section describing accessibility -->
  <div class="row">
    <div class="col-md-5">
      <img
        src="../../assets/about-mobile.jpg"
        alt="man using a phone"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-7">
      <h2 class="display-3 text-yellow">Mobile Accessibility</h2>
      <p class="lead text-yellow">
        Nodebucket is available on both iOS and Android. There is no need to
        download the app from the App Store or Google Play. Our website is fully
        responsive and will work on any device.
      </p>
    </div>
  </div>
  <!-- section end -->

  <hr class="my-5" style="color: var(--yellow)" />

  <!-- section introducing the team -->
  <div class="row text-yellow">
    <div class="col-md-12">
      <h2 class="display-3 text-center">Our Team</h2>
    </div>
  </div>

  <div class="row text-yellow">
    <div class="col-md-7">
      <p class="lead">
        <strong>Ayden Davis</strong> - Ayden is a seasoned developer with over
        30 years of experience in the field. He has a masters degree in computer
        science and is currently pursuing his PhD. He is also a published author
        and has written two books on coding. He loves to code and teach new
        developers programming concepts.
      </p>
    </div>

    <div class="col-md-5">
      <img
        src="../../assets/about-ayden.jpg"
        alt="man wearing glasses"
        class="img-fluid rounded"
      />
    </div>
  </div>

  <div class="row my-5 text-yellow">
    <div class="col-md-7">
      <p class="lead">
        <strong>Lili Carlson</strong> - Lili is a junior developer with 2 years
        of experience. She has a bachelor's degree in computer science and is
        currently pursuing her Master's Degree. She is a published author and
        has written two books on coding.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../assets/about-lili.jpg"
        alt="woman in blue and white shirt"
        class="img-fluid rounded"
      />
    </div>
  </div>

  <div class="row my-5 text-yellow">
    <div class="col-md-7">
      <p class="lead">
        <strong>Seren Barton</strong> - Seren is a junior developer with 1 year
        of experience. She has a bachelor's degree in web development and
        marketing and is currently pursuing a degree in graphic design. In her
        spare time she enjoys going to the beach and spending time with her
        family.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../assets/about-seren.jpg"
        alt="woman using a laptop"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <!-- section end -->
</div>
