/* You can add global styles to this file, and also import other style files */

/* gryffindor colors */
:root {
  --dark-red: #740001;
  --red: #ae0001;
  --yellow: #eeba30;
  --dark-yellow: #d3a625;
  --black: #000;
}
/* end colors */

/* gryffindor theme */
.gfd-primary {
  background-color: var(--dark-red) !important;
}

.gfd-secondary {
  background-color: var(--yellow) !important;
}

.text-yellow {
  color: var(--yellow) !important;
}
/* end theme */

body {
  background-color: var(--black) !important;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.full-height {
  height: 100vh !important;
}

.link:hover {
  cursor: pointer;
}

/* Mobile view ports */
@media only screen and (max-device-width: 576px) {
  .dropdown-menu {
    background-color: #212529 !important;
    color: rgba(255, 255, 255, 0.55) !important;
  }

  .dropdown-item {
    color: rgba(255, 255, 255, 0.55) !important;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: #212529 !important;
    color: rgba(255, 255, 255, 0.55);
  }

  .material-icons {
    color: rgba(255, 255, 255, 0.55) !important;
  }
}

.bg-dark-red {
  background-color: var(--dark-red) !important;
}

.return {
  text-decoration: none;
}

.return:hover {
  text-decoration: underline;
}
