<div class="container-fluid pt-2 text-yellow">
  <h1 class="text-center">Welcome to Nodebucket!</h1>

  <div class="row mt-5">
    <div class="col-sm-4">
      <figure>
        <a routerLink="/task-management/my-tasks">
          <img
            src="../../assets/about-task-management.jpg"
            alt="feather pen in ink pot"
            class="img-fluid"
          />
        </a>
        <h1>Tasks</h1>
        <p>
          Nodebucket is a simple to-do list application that allows you to
          manage and keep track of your tasks.
        </p>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <a routerLink="/about">
          <img
            src="../../assets/about.jpg"
            alt="framed eyeglasses on top of a book"
            class="img-fluid"
          />
        </a>
        <h1>About Us</h1>
        <p>Learn more about our company and why Nodebucket is right for you!</p>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <a routerLink="/contact">
          <img
            src="../../assets/contact.jpg"
            alt="contact scrabble photo"
            class="img-fluid"
          />
        </a>
        <h1>Contact Us</h1>
        <p>Have questions? We have answers. Contact us today!</p>
      </figure>
    </div>
  </div>
</div>
